:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  text-align: center;
  vertical-align: center;
  /* line-height: 100vh */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.resetBtn {
  border: 1px solid #e0004f;
  background-color: #da256d;
  color: #ffff;
}
